
.DS_Store
Bike Space Melbourne/.RData
Bike Space Melbourne/.Rhistory
Bike Space Melbourne/Buildings2017.csv
Bike Space Melbourne/buildings_source.csv
Bike Space Melbourne/Traffic2017.csv
Bike Space Melbourne/traffic_source.csv
covid_animation/animation.nb.html
Incident_Log/.RData
Incident_Log/.Rhistory
Incident_Log/incident_event_log.csv
Incident_Log/incident_event_log.zip
Incident_Log/processed_log_incident.csv
city_GDP/file.xlsx
city_GDP/.Rhistory
Renewables/irena.xlsx
Renewables/~$irena.xlsx
Renewables/.Rhistory
Renewables/.RData
Streets/code.nb.html
Streets/code.Rmd
temp_rodelillo/Twitter_Logo_Blue.png
temp_rodelillo/agua.csv
temp_rodelillo/data.csv
temp_rodelillo/hum.csv
temp_rodelillo/README.html
google_analytics_sample_dataset/ga_stats.csv
google_analytics_sample_dataset/ga_stats.rds
google_analytics_sample_dataset/.Rhistory
Twitter_Logo_Blue.png
green_spaces/cities.json
cafes/cities.json
barbecues/VIC_LOCALITY_POLYGON_SHP.shx
barbecues/VIC_LOCALITY_POLYGON_SHP.shp
barbecues/VIC_LOCALITY_POLYGON_SHP.prj
barbecues/VIC_LOCALITY_POLYGON_SHP.dbf
barbecues/VIC_LOCALITY_POLYGON_SHP.cpg
barbecues/VIC_LGA_POLYGON_SHP.shx
barbecues/VIC_LGA_POLYGON_SHP.shp
barbecues/VIC_LGA_POLYGON_SHP.prj
barbecues/VIC_LGA_POLYGON_SHP.dbf
barbecues/VIC_LGA_POLYGON_SHP.cpg
barbecues/NSW_LOC_POLYGON_shp/NSW_LOC_POLYGON_shp.shx
barbecues/NSW_LOC_POLYGON_shp/NSW_LOC_POLYGON_shp.shp
barbecues/NSW_LOC_POLYGON_shp/NSW_LOC_POLYGON_shp.prj
barbecues/NSW_LOC_POLYGON_shp/NSW_LOC_POLYGON_shp.dbf
barbecues/NSW_LOC_POLYGON_shp/NSW_LOC_POLYGON_shp.cpg
barbecues/NSW_LGA_POLYGON_shp/NSW_LGA_POLYGON_shp.shx
barbecues/NSW_LGA_POLYGON_shp/NSW_LGA_POLYGON_shp.shp
barbecues/NSW_LGA_POLYGON_shp/NSW_LGA_POLYGON_shp.prj
barbecues/NSW_LGA_POLYGON_shp/NSW_LGA_POLYGON_shp.dbf
barbecues/NSW_LGA_POLYGON_shp/NSW_LGA_POLYGON_shp.cpg
barbecues/.Rhistory
covid-chile/.Rhistory
melbourne_vienna_size/.Rhistory
bushfires_au2020_eu/.Rhistory
bushfires_au2020_eu/.RData
.Rproj.user
tidytuesday/2021-04-06/pop.csv
tidytuesday/2021-04-06/pop.csv
tidytuesday/.Rhistory
tidytuesday/.RData
tidytuesday/2021-04-06/github_logo.png
tidytuesday/2021-04-06/github_logo.svg
tidytuesday/2021-04-06/twitter_logo.png
tidytuesday/2021-04-06/twitter_logo.svg
tidytuesday/.Rhistory
tidytuesday/.RData
tidytuesday/2021-04-13/shapefile/ROSI.cpg
tidytuesday/2021-04-13/shapefile/ROSI.dbf
tidytuesday/2021-04-13/shapefile/ROSI.prj
tidytuesday/2021-04-13/shapefile/ROSI.shp
tidytuesday/2021-04-13/shapefile/ROSI.shx
tidytuesday/2021-04-13/temp.zip
tidytuesday/.RData
tidytuesday/.Rhistory
tidytuesday/2021-04-13/route66.png
tidytuesday/.Rhistory
tidytuesday/.RData
