
.DS_Store
Bike Space Melbourne/.RData
Bike Space Melbourne/.Rhistory
Bike Space Melbourne/Buildings2017.csv
Bike Space Melbourne/buildings_source.csv
Bike Space Melbourne/Traffic2017.csv
Bike Space Melbourne/traffic_source.csv
covid_animation/animation.nb.html
Incident_Log/.RData
Incident_Log/.Rhistory
Incident_Log/incident_event_log.csv
Incident_Log/incident_event_log.zip
Incident_Log/processed_log_incident.csv
city_GDP/file.xlsx
city_GDP/.Rhistory
Renewables/irena.xlsx
Renewables/~$irena.xlsx
Renewables/.Rhistory
Renewables/.RData
Streets/code.nb.html
Streets/code.Rmd
temp_rodelillo/Twitter_Logo_Blue.png
temp_rodelillo/agua.csv
temp_rodelillo/data.csv
temp_rodelillo/hum.csv
temp_rodelillo/README.html
google_analytics_sample_dataset/ga_stats.csv
google_analytics_sample_dataset/ga_stats.rds
google_analytics_sample_dataset/.Rhistory
Twitter_Logo_Blue.png
green_spaces/cities.json
